{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <form method="post" action="{% url 'delete_product' object.pk %}">
        {% csrf_token %}
        <h1>Are you sure that you wish to delete the waiter "{{ object.name }} {{ object.lastname }} " ?</h1>
        <button type="submit" class="btn btn-danger">Confirm</button>
        <a class="btn btn-secondary" href="{% url 'list_waiter' %}">Cancel</a>
    </form>
{% endblock %}