{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <form method="post">
        {% csrf_token %}
        Invoice: <input style="margin-bottom: 15px" type="number" value="{{ pk }}" name="invoice" readonly/>
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Add to Invoice</button>
    </form>
    <h1 style="color: gray; margin-top: 30px">Detail in Voice</h1>
    <table class="table table-striped text-center">
    <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Amount</th>
        </thead>
        <tbody>
        {% for item in entity %}
            <tr>
                <td>{{ item.saucer_or_drink.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.saucer_or_drink.amount}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tr style="font-size:28px;text-align: center ">
            <td colspan="2" >Total</td>
            <td colspan="2">$ {{ total }}</td>
        </tr>
    </table>
{% endblock %}