{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<h1>{{ title }}</h1>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{{ button }}</button>
    </form>
{% endblock %}