{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<h1>{{ title }}</h1>
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>Date</th>
            <th>Client</th>
            <th>Table</th>
            <th>Waiter</th>
        </thead>
        <tbody>
        {% for item in entity %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.client.name }} {{ item.client.lastname }}</td>
                <td>{{ item.table.name }}</td>
                <td>{{ item.waiter.name }} {{ item.waiter.lastname }}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'detail_invoice' item.id %}">Detail</a>
                    <a class="btn btn-danger" href="{% url 'delete_client' item.pk %}">delete</a>
                    <a class="btn btn-info" href="{% url 'create_detail_invoice' item.id %}">Add Product</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}