{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
    <h1 style="color: gray">Invoice # {{ invoice.id}}</h1>
<h1 style="color: gray">Client: {{ invoice.client.name }} {{ invoice.client.lastname }}</h1>
    <table class="table table-striped text-center">
        <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Amount</th>
        </thead>
        <tbody>
        {% for item in entity %}
            <tr>
                <td>{{ item.saucer_or_drink.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.saucer_or_drink.amount}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tr style="font-size:28px;text-align: center ">
            <td colspan="2" >Total</td>
            <td colspan="2">$ {{ total }}</td>
        </tr>
    </table>
{% endblock %}