{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content %}
<h1>{{ title }}</h1>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Lastname</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for item in entity %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.lastname }} {{ item.lastname2 }}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'update_waiter' item.id %}">update</a>
                    <a class="btn btn-danger" href="{% url 'delete_waiter' item.pk %}">delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}