<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-black bg-black">
    <img src="https://cdn-icons-png.flaticon.com/512/1205/1205774.png" style="width:40px;height: 40px;margin-right: 5px;margin-left: 10px"  alt="icon name">
    <a class="navbar-brand" href="{% url 'home' %}">HOME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Create
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'create_client'  %}">Client</a>
                    <a class="dropdown-item" href="{% url 'create_product' %}">Product</a>
                    <a class="dropdown-item" href="{% url 'create_waiter' %}">Waiter</a>
                    <a class="dropdown-item" href="{% url 'create_table' %}">Table</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'create_invoice' %}">Invoice</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    List
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'list_client' %}">Client</a>
                    <a class="dropdown-item" href="{% url 'list_product' %}">Product</a>
                    <a class="dropdown-item" href="{% url 'list_waiter' %}">Waiter</a>
                    <a class="dropdown-item" href="{% url 'list_table' %}">Table</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'list_invoice' %}">Invoice</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
<div class="container py-5">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
